html,
div {
  font-family: "Roboto", sans-serif;
}

html {
  position: relative;
  width: 1366px;
  height: 1024px;

  @media (max-width: 1400px) {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
  }
}

body {
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
}

button:focus {
  outline: none;
}

#trashCanvas {
  position: absolute;
  top: 0;
  z-index: -8000;
  width: 100vw;
}
