.addcart {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 1366px;
  height: 1024px;
  background: rgba(69, 69, 69, .5);
}

.addcartContent {
  position: absolute;
  top: 40px;
  left: 110px;
  z-index: 100;
  width: 1146px;
  height: 984px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 5px;
}

.addcartContent .background {
  margin-top: 70px;
}

.addcartContent .background .preview {
  width: 1146px;
  height: 414px;
}

.addcartContent .header {
  position: fixed;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1146px;
  height: 70px;
  color: #3E8087;
  font-weight: bold;
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  line-height: 36px;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header input {
  width: 250px;
  color: #3E8087;
  font-weight: bold;
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  line-height: 36px;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #C8C8C8;
}

.header input::placeholder {
  color: #3E8087;
}

.header input:focus {
  outline: none;
}

.addcartContent .cartContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 38px 0 38px 0;
}

.addcartContent .subtitle {
  width: fit-content;
  margin-bottom: 20px;
  margin-left: 30px;
  color: #3E8087;
  font-weight: bold;
  font-size: 32px;
  font-family: Poppins;
  font-style: normal;
  line-height: 48px;
}

.addcartContent .addedToCart {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #E0E0E0;
}

.addcartContent .addedToCart .imgContainer {
  display: flex;
  justify-content: center;
  width: 138px;
  height: 100px;
  margin-left: 30px;
}

.addcartContent .addedToCart .img {
  max-width: 100%;
  max-height: 100%;
}

.addedToCart .name {
  width: 20%;
  margin-left: 30px;

  /* Petrol-Blue */

  color: #3E8087;
  font-weight: bold;
  font-size: 24px;
  font-family: Poppins;
  font-style: normal;
  line-height: 36px;
}

.addedToCart .color {
  margin-left: 87px;
  color: #444444;
  font-weight: 500;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  line-height: 23px;
}

.addedToCart .picker {
  margin-left: 137px;
}

.addedToCart .number {
  display: inline-flex;
  margin-left: 40px;
}

.number .inputNumber,
.number button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 0;
  color: #444444;
  font-weight: 500;
  font-size: 24px;
  font-family: Roboto;
  font-style: normal;
  line-height: 28px;
  background: #FFFFFF;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

.number .inputNumber {
  width: 90px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.number button .btn {
  width: 24px;
  height: 24px;
}

.number button:focus,
.number input:focus {
  outline: none;
}
