$bigPillowWidth: 300px;
$bigPillowHeight: 259px;

$mediumPillowWidth: 300px;
$mediumPillowHeight: 243px;

$centerPillowWidth: 378px;
$centerPillowHeight: 201px;

$smallPillowWidth: 213px;
$smallPillowHeight: 194px;

$duvetWidth: 1259px;
$duvetHeight: 493px;

.background {
  width: 100%;
  height: 100%;
}

.wall {
  position: absolute;
  top: 0;
}

.joint {
  position: absolute;
  bottom: 316px;
}

.floor {
  position: absolute;
  bottom: 0;
}

.tete {
  position: absolute;
  top: 230px;
  left: 290px;
  width: 775px;
  height: 492px;
}

.duvet {
  position: absolute;
  top: 480px;
  left: 53px;
  width: $duvetWidth;
  height: $duvetHeight;
}

.back {
  position: absolute;
  top: 254px;
  left: 336px;
  width: $bigPillowWidth;
  height: $bigPillowHeight;
}

.backRight {
  position: absolute;
  top: 260px;
  right: 346px;
  width: $bigPillowWidth;
  height: $bigPillowHeight;
}

.middle {
  position: absolute;
  top: 269px;
  left: 388px;
  width: $mediumPillowWidth;
  height: $mediumPillowHeight;
}

.middleRight {
  position: absolute;
  top: 271px;
  right: 410px;
  width: $mediumPillowWidth;
  height: $mediumPillowHeight;
}

.frontCenter {
  position: absolute;
  top: 316px;
  left: 496px;
  width: $centerPillowWidth;
  height: $centerPillowHeight;
}

.front {
  position: absolute;
  top: 326px;
  left: 572px;
  width: $smallPillowWidth;
  height: $smallPillowHeight;
}
