.footer{
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.button{
    margin-left: 20px;
}
.button:first-child{
    margin-left: 0;
}

.buttonsRight{
    display: flex;
    flex-direction: column;
}
