$font-color :#447679;
$background-color: white;

.footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  // font-family: $font-base;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 40px;
}

.button {
  margin-left: 20px;
}

.button:first-child {
  margin-left: 0;
}

.buttonsRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 40px;
}

.buttonRight_green {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 289px;
  height: 60px;
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  background-color: $font-color;
  border: 0;
  border-radius: 5px;
}

.bottomGroup {
  display: inline-flex;

  .buttonRight,
  .buttonRightLeft {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding-right: 44px;
    padding-left: 20px;
    color: $font-color;
    font-weight: bold;
    font-size: 22px;
    background-color: $background-color;
    border: 0;
    border-radius: 5px;

  }

  .buttonRight {
    width: 289px;

    img {
      margin-top: -4px;
    }
  }

  .buttonRightLeft {
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 18px;
    padding: 0;
  }
}


