.listArticles{

}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.pillowSelector {
  position: relative;
  display: block;
  width: 342px;
  height: 128px;
  margin: 50px auto;
}

.pillowSelector::after {
  position: absolute;
  bottom: -20px;
  left: -25px;
  width: 441px;
  height: 2px;
  background-color: #E2E2E2;
  content: "";
}

.pillowSelector svg {
  position: absolute;
  top: 0;
}

.pillowSelector svg:nth-child(2) {
  right: 0;
}

.pillowSelector svg:nth-child(3) {
  top: 12px;
  left: 42px;
}

.pillowSelector svg:nth-child(4) {
  top: 12px;
  right: 42px;
}

.pillowSelector svg:nth-child(5) {
  top: 34px;
  left: 120px;
}

.pillowSelector svg:last-child {
  top: 73px;
  left: 143px;
}

.bluePillow {
  transition-duration: 500ms;
  fill: #599298;

}

.whitePillow {
  transition-duration: 500ms;
  fill: white;
}
