.menu{    
    position: absolute;
    width : 511px;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: white;
    z-index: 100;
    padding: 40px;
}

.title{    
    margin: 20px 0px 20px 40px;
    font-size: 48px;    
    font-weight: bold;
    font-family: 'Poppins';
    color: rgba(62, 128, 135, 86%);
}

.articles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 20px;
}

.pillowSelector{
    height: 200px;
    width: 391px;
    margin: 50px auto;
    position: relative;
    display: block;
}

.pillowSelector::after{
    content: "";
    width: 441px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: -25px;
    background-color: #E2E2E2;
}

.pillowSelector svg{
    position: absolute;
    top: 0;
}

.pillowSelector svg:nth-child(2){
    right: 0;
}

.pillowSelector svg:nth-child(3){
    left: 42px;
    top: 33px;
}

.pillowSelector svg:nth-child(4){
    right: 42px;
    top: 33px;
}

.pillowSelector svg:last-child{
    left: 150px;
    top: 100px;
}

.bluePillow{
    fill: #599298;
    transition-duration: 500ms;
    
}

.whitePillow{
    fill: white;
    transition-duration: 500ms;
}