.menu {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  width: 578px;
  height: 100%;
  padding: 0 30px;
  overflow-y: scroll;
  background-color: white;
}

.close{
  position: absolute;
  top: 20px;
  right: 598px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: white;
}

.title {
  margin: 25px 0px;
  color: rgba(62, 128, 135, 86%);
  font-weight: bold;
  font-size: 48px;
  font-family: $font-title;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.pillowSelector {
  position: relative;
  display: block;
  width: 391px;
  height: 200px;
  margin: 50px auto;
}

.pillowSelector::after {
  position: absolute;
  bottom: 0;
  left: -25px;
  width: 441px;
  height: 2px;
  background-color: #E2E2E2;
  content: "";
}

.pillowSelector svg {
  position: absolute;
  top: 0;
}

.pillowSelector svg:nth-child(2) {
  right: 0;
}

.pillowSelector svg:nth-child(3) {
  top: 33px;
  left: 42px;
}

.pillowSelector svg:nth-child(4) {
  top: 33px;
  right: 42px;
}

.pillowSelector svg:nth-child(5) {
  top: 69px;
  left: 120px;
}

.pillowSelector svg:last-child {
  top: 115px;
  left: 150px;
}

.bluePillow {
  transition-duration: 500ms;
  fill: #599298;

}

.whitePillow {
  transition-duration: 500ms;
  fill: white;
}
