.menu {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50;
  width: 714px;
  height: 100%;
  padding: 0 0 0 40px;
  overflow-y: scroll;
  font-family: $font-base;
  background-color: white;
}

.menu::-webkit-scrollbar {
  display: none;
}

.title {
  margin-top: 25px;
  margin-bottom: 33px;
  color: rgba(62, 128, 135, 86%);
  font-weight: bold;
  font-size: 48px;
  font-family: $font-title;
  line-height: 72px;
}

.subtitle {
  margin-bottom: 25px;
  color: #565656;
  font-weight: bold;
  font-size: 30px;
  font-family: $font-base;
  font-style: normal;
  line-height: 35px;
}

.contents {
  display: inline-flex;
  flex-wrap: wrap;

  /* justify-content: space-between; */
  width: 92%;
}

.subSection {
  margin-bottom: 33px;
}

.button {
  box-sizing: border-box;
  width: 187px;
  height: 60px;
  margin-right: 30px;
  margin-bottom: 37px;
  color: #222222;
  font-weight: normal;
  font-size: 24px;
  font-family: $font-base;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

.barre {
  position: fixed;
  top: 0;
  left: 714px;
  z-index: 8000;
  width: 40px;
  height: 100%;
  border-left: 1px solid #E2E2E2;
}

.littleRectangle {
  position: fixed;
  top: 50%;
  left: 730px;
  width: 8px;
  height: 80px;
  background: #E2E2E2;
  border-radius: 30px;
}

.wallPreview {
  margin-right: 40px;
}

.floorPreview {
  margin-right: 30px;
}
